<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <style>
        body {
            position: relative;
            min-height: 100vh;
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            margin-bottom: 2rem;
        }
        .content{
            display: flex;
           flex-direction: column;
    
           align-items: center;
        }


    </style>
</head>
<body>
   <div class="content">
    <div class="text-section">
        <h1>Welcome to my Quiz form !</h1>

        <h3>Please answer the questions with your own knowledge without cheating</h3> 
        <h3> You can see your score by submitting when you finish the exam</h3>
       
    </div>
    <div class="btn-section">
        <a href="/quiz" style="text-decoration: none;">
            <button style="background-color: #eee; padding: 10px; border-radius: 5px;">Start Quiz</button>
        </a>
    </div>
   </div>
    
   

    

    <!-- Footer with information about the author -->
    <footer>
        Here information about the author
    </footer>
</body>
</html>
